body{
  background-color: rgba(242, 242, 242, 0.873);
  margin: 0px;
  padding: 0px;
  height:1000%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  transition: background-color 0.3s, color 0.3s;
}

/*Navbar Start*/
.navbar{
  background-color: #e2e2e2;
  display:flex;
  justify-content: space-between;
  list-style: none;
  margin:2px;
  font-size: 1.2rem;
  font-style:bold;
  transition: background-color 0.3s, color 0.3s;
}

.list-inline{
  display:flex;
  justify-content: space-evenly;
  text-decoration: none;
  align-items: center;
  list-style: none;
}

.tab-underlined{
  padding:20px;
  padding-top:10px;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

.tab-underlined:hover {
  text-decoration: underline; /* underline on hover */
}

.logo{
  width:60px;
  border-radius:50%;
}
/*Navbar End*/

.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  width: 100%;
}

.banner-text{
  padding-left:20px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  padding:10px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  padding-left: 40px;
  padding-bottom:30px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.apply-button{
  text-decoration: none;
  color: white;
  background-color: #c142149b;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 15px;
  border-radius: 1.2rem;
  font-size: 1rem;
  line-height: 1rem;
}

.apply-button:hover{
  text-decoration: none;
  color: white;
  background-color: #C14214;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 15px;
  border-radius: 1.2rem;
  font-size: 1rem;
  line-height: 1rem;
}

.about-us-button{
  text-decoration: none;
  color: white;
  background-color: #e9e9e949;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 1.2rem;
  font-size: 1rem;
  line-height: 1rem;
}

.about-us-button:hover{
  text-decoration: none;
  color: white;
  background-color: #e9e9e9ad;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 1.2rem;
  font-size: 1rem;
  line-height: 1rem;
}

.main{
  width:90%;
  margin: 20px auto;
}
.website-info{
  padding-top:10px;
  padding-bottom:10px;
  width:90%;
  margin: 20px auto;
}

.website-info h3{
  padding: 0px;
}

.title{
  text-align: center;
  font-size: 36px;
  padding-top: 80px;
}

.ad-cards{
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.ad-card-category {
  background-size: cover;
  background-position: center;
  color:rgb(45, 45, 45);
  height: 180px;
  width: 350px;
  margin: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
}

.ad-card-category{
  text-align:center;
}

.ad-card-category p{
  padding: 1px;
}
.ad-strength-text{
  margin: 2px;
  font-size: 36px;
  color:#c14214;
}


.planning-title h2, h3{
  text-align:center;
}

.planning-title{
  font-size:36px;
  text-align:center;
  padding-top: 80px;
}

.planning-title h3{
  text-align:center;
}

.planning h3{
  text-align:center;
  padding-right:28px;
}

.planning-card {
  background-size: cover;
  background-position: center;
  margin:2px;
  margin-left:8px;
  height: 90px;
  width: 200px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  padding-bottom:24px;
  padding-left:12px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  text-shadow: 1px 0px 3px rgba(226, 226, 226, 0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  position:relative;
  transition: background-image .4s ease;
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit color from parent */
}

.planning-icon{
  position:absolute;
  right:14px;
  bottom: 80px;
}

.planning-card:hover{
  background-image: linear-gradient(rgba(224, 224, 224, 0.637),rgba(220, 220, 220, 0.665))
}

.planning-card i{
  transition: font-size 0.1s ease; /* Adjust duration and easing as needed */
}

.planning-card:hover i{
  font-size: 25px;
}

.planning-card h3{
  margin:0px;
  padding:0px;
  padding-bottom:6px;
  font-size:18px;
  text-align:left;
  color:black;
}

.planning-card p{
  margin:0px;
  font-size:10px;
  padding-bottom:4px;
  color:rgb(124, 124, 124);
}

.planning-first-row{
  display:flex;
  justify-content: center;
}

.planning-second-row{
  display:flex;
  justify-content: center;
}

.star-icon{
  color: #ff3434;
}

.hotel-icon{
  color: #63b728;
}

.budget-icon{
  color: #949494;
}

.list-icon{
  color: #008bde;
}

.book-icon{
  color: #c530bf;
}

.handshake-icon{
  color: #ec9c07;
}

.activities{
  text-align: center;
}

.activities h3{
  text-align: center;
  padding-right:24px;
}

.activities h2{
  padding-top: 80px;
  font-size: 36px;
}

.activities-cards{
  max-width: 1000px;
  min-width: 400px;
  margin: auto;
}

.activity-card {
  background-size: cover;
  background-position: center;
  margin:2px;
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: start;
  align-items: end;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
  transition: all .3s ease;
  background-blend-mode: darken;
}

.activity-card h2,h3{
  margin:0px;
  margin-left:26px;
  padding-bottom:16px;
  text-align:start;
  align-items:end;
  transition: padding-bottom 0.3s ease;
}

.activity-card:hover h2{
  padding-bottom:26px;
}

.activity-card:hover h3{
  padding-bottom:26px;
}


.activity-recommended-card{
  width:69%;
  height:400px;
}

.activity-cards-top-row-second-column{
  display:flex;
  flex-direction:column;
  width:20%;
  height:404px;
}

.activity-cards-top-row{
  display:flex;
}

.activity-cards-bottom-row{
  display:flex;
}




.how-to-article{
  margin: auto;
  width: 90%;
  padding-top: 24px;
  padding-bottom:24px;
  text-align: center;
}

.how-to-options h2{
  font-size:36px;
  text-align: center;
  padding-top: 80px;
}

.how-to-options h3{
  text-align:center;
  padding-right:28px;
}

.tokyo-cards{
  display:flex;
  justify-content:center;
}

.tokyo-card{
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 400px;
  margin:12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
  transition: transform 0.3s ease;
}


.tokyo-card:hover{
  transform: scale(1.1);
}


.footer {
  align-items: end;
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: black;
  flex-shrink: 1; /* Ensures footer stays at the bottom */
  transition: background-color 0.3s, color 0.3s;
}

.footer-links {
  display: flex;
  align-items: center;
  color:black;
}
.footer-links a {
  color: black;
  opacity: 0.60;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
